@tailwind base;

@layer base {
  :root {
    --blue-500: #4442fe;
    --line0: #b30000;
    --line1: #4421af;
    --line2: #0d88e6;
    --line3: #5ad45a;
    --line4: #ebdc78;
    --font-size-xs: 0.7rem;
    --font-size-sm: 0.8rem;
    --font-size-base: 1rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.563rem;
    --font-size-3xl: 1.953rem;
    --font-size-4xl: 2.441rem;
    --font-size-5xl: 3.052rem;
  }
}
