ol.lst-kix_tx3rf0hyedxu-8 {
  list-style-type: none;
}
.lst-kix_tx3rf0hyedxu-8 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-8;
}
ol.lst-kix_tx3rf0hyedxu-7 {
  list-style-type: none;
}
ol.lst-kix_tx3rf0hyedxu-6 {
  list-style-type: none;
}
ol.lst-kix_tx3rf0hyedxu-5 {
  list-style-type: none;
}
.lst-kix_tx3rf0hyedxu-0 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '. ';
}
ol.lst-kix_tx3rf0hyedxu-0 {
  list-style-type: none;
}
ol.lst-kix_tx3rf0hyedxu-4 {
  list-style-type: none;
}
ol.lst-kix_tx3rf0hyedxu-3 {
  list-style-type: none;
}
ol.lst-kix_tx3rf0hyedxu-2 {
  list-style-type: none;
}
ol.lst-kix_tx3rf0hyedxu-1 {
  list-style-type: none;
}
.lst-kix_tx3rf0hyedxu-5 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-3, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-4, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-5, decimal) '. ';
}
ol.lst-kix_6sor1dc6q6q-5.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-5 0;
}
.lst-kix_tx3rf0hyedxu-3 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-3, decimal) '. ';
}
.lst-kix_tx3rf0hyedxu-4 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-3, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-4, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-3 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-3;
}
.lst-kix_tx3rf0hyedxu-1 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '. ';
}
.lst-kix_tx3rf0hyedxu-2 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '. ';
}
ol.lst-kix_6sor1dc6q6q-8.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-8 0;
}
ol.lst-kix_2y0bwxljfd6m-2.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-2 0;
}
ol.lst-kix_tx3rf0hyedxu-2.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-2 0;
}
.lst-kix_2y0bwxljfd6m-8 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-8;
}
.lst-kix_tx3rf0hyedxu-6 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-3, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-4, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-5, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-6, decimal) '. ';
}
ol.lst-kix_2y0bwxljfd6m-5.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-5 0;
}
.lst-kix_tx3rf0hyedxu-7 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-3, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-4, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-5, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-6, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-7, decimal) '. ';
}
.lst-kix_tx3rf0hyedxu-8 > li:before {
  content: '' counter(lst-ctn-kix_tx3rf0hyedxu-0, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-1, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-2, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-3, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-4, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-5, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-6, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-7, decimal) '.'
    counter(lst-ctn-kix_tx3rf0hyedxu-8, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-2 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-2;
}
.lst-kix_tx3rf0hyedxu-7 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-7;
}
ol.lst-kix_2y0bwxljfd6m-8.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-8 0;
}
.lst-kix_6sor1dc6q6q-5 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-5;
}
.lst-kix_2y0bwxljfd6m-6 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-6;
}
.lst-kix_tx3rf0hyedxu-5 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-5;
}
ol.lst-kix_6sor1dc6q6q-6.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-6 0;
}
.lst-kix_2y0bwxljfd6m-0 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-0;
}
.lst-kix_2y0bwxljfd6m-2 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-2, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-6 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-6;
}
ol.lst-kix_tx3rf0hyedxu-5.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-5 0;
}
.lst-kix_2y0bwxljfd6m-1 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-1, decimal) '. ';
}
ol.lst-kix_2y0bwxljfd6m-7.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-7 0;
}
ol.lst-kix_6sor1dc6q6q-0.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-0 0;
}
.lst-kix_2y0bwxljfd6m-0 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-0, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-0 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-0;
}
ol.lst-kix_2y0bwxljfd6m-0.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-0 0;
}
ol.lst-kix_2y0bwxljfd6m-6.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-6 0;
}
ol.lst-kix_tx3rf0hyedxu-4.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-4 0;
}
.lst-kix_tx3rf0hyedxu-2 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-2;
}
ol.lst-kix_tx3rf0hyedxu-6.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-6 0;
}
ol.lst-kix_2y0bwxljfd6m-1.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-1 0;
}
.lst-kix_2y0bwxljfd6m-3 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-3;
}
ol.lst-kix_6sor1dc6q6q-1.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-1 0;
}
.lst-kix_tx3rf0hyedxu-3 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-3;
}
ol.lst-kix_tx3rf0hyedxu-0.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-0 0;
}
ol.lst-kix_tx3rf0hyedxu-3.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-3 0;
}
.lst-kix_2y0bwxljfd6m-2 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-2;
}
ol.lst-kix_2y0bwxljfd6m-4.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-4 0;
}
ol.lst-kix_6sor1dc6q6q-7.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-7 0;
}
.lst-kix_2y0bwxljfd6m-5 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-5;
}
.lst-kix_2y0bwxljfd6m-3 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-3, decimal) '. ';
}
.lst-kix_2y0bwxljfd6m-4 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-4, decimal) '. ';
}
ol.lst-kix_6sor1dc6q6q-4.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-4 0;
}
.lst-kix_2y0bwxljfd6m-5 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-5, lower-roman) '. ';
}
ol.lst-kix_6sor1dc6q6q-7 {
  list-style-type: none;
}
ol.lst-kix_6sor1dc6q6q-8 {
  list-style-type: none;
}
ol.lst-kix_6sor1dc6q6q-5 {
  list-style-type: none;
}
ol.lst-kix_6sor1dc6q6q-6 {
  list-style-type: none;
}
.lst-kix_2y0bwxljfd6m-7 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-7, lower-latin) '. ';
}
ol.lst-kix_6sor1dc6q6q-3 {
  list-style-type: none;
}
.lst-kix_tx3rf0hyedxu-1 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-1;
}
ol.lst-kix_6sor1dc6q6q-4 {
  list-style-type: none;
}
.lst-kix_2y0bwxljfd6m-6 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-6, decimal) '. ';
}
.lst-kix_2y0bwxljfd6m-8 > li:before {
  content: '' counter(lst-ctn-kix_2y0bwxljfd6m-8, lower-roman) '. ';
}
ol.lst-kix_6sor1dc6q6q-1 {
  list-style-type: none;
}
ol.lst-kix_6sor1dc6q6q-2 {
  list-style-type: none;
}
.lst-kix_6sor1dc6q6q-8 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-8;
}
ol.lst-kix_6sor1dc6q6q-0 {
  list-style-type: none;
}
.lst-kix_tx3rf0hyedxu-4 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-4;
}
ol.lst-kix_2y0bwxljfd6m-8 {
  list-style-type: none;
}
.lst-kix_6sor1dc6q6q-5 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-5, lower-roman) '. ';
}
ol.lst-kix_2y0bwxljfd6m-6 {
  list-style-type: none;
}
ol.lst-kix_2y0bwxljfd6m-3.start {
  counter-reset: lst-ctn-kix_2y0bwxljfd6m-3 0;
}
ol.lst-kix_2y0bwxljfd6m-7 {
  list-style-type: none;
}
ol.lst-kix_2y0bwxljfd6m-4 {
  list-style-type: none;
}
ol.lst-kix_2y0bwxljfd6m-5 {
  list-style-type: none;
}
ol.lst-kix_2y0bwxljfd6m-2 {
  list-style-type: none;
}
.lst-kix_6sor1dc6q6q-4 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-4, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-8 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-8, lower-roman) '. ';
}
ol.lst-kix_2y0bwxljfd6m-3 {
  list-style-type: none;
}
ol.lst-kix_2y0bwxljfd6m-0 {
  list-style-type: none;
}
ol.lst-kix_2y0bwxljfd6m-1 {
  list-style-type: none;
}
.lst-kix_6sor1dc6q6q-7 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-7, lower-latin) '. ';
}
.lst-kix_6sor1dc6q6q-6 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-6, decimal) '. ';
}
ol.lst-kix_tx3rf0hyedxu-1.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-1 0;
}
.lst-kix_6sor1dc6q6q-0 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-0, decimal) '. ';
}
.lst-kix_tx3rf0hyedxu-6 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-6;
}
ol.lst-kix_6sor1dc6q6q-3.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-3 0;
}
.lst-kix_6sor1dc6q6q-1 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-1, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-3 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-3, decimal) '. ';
}
.lst-kix_6sor1dc6q6q-2 > li:before {
  content: '' counter(lst-ctn-kix_6sor1dc6q6q-2, decimal) '. ';
}
ol.lst-kix_tx3rf0hyedxu-8.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-8 0;
}
.lst-kix_6sor1dc6q6q-1 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-1;
}
.lst-kix_6sor1dc6q6q-4 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-4;
}
ol.lst-kix_6sor1dc6q6q-2.start {
  counter-reset: lst-ctn-kix_6sor1dc6q6q-2 0;
}
ol.lst-kix_tx3rf0hyedxu-7.start {
  counter-reset: lst-ctn-kix_tx3rf0hyedxu-7 0;
}
.lst-kix_6sor1dc6q6q-7 > li {
  counter-increment: lst-ctn-kix_6sor1dc6q6q-7;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_tx3rf0hyedxu-0 > li {
  counter-increment: lst-ctn-kix_tx3rf0hyedxu-0;
}
.lst-kix_2y0bwxljfd6m-4 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-4;
}
.lst-kix_2y0bwxljfd6m-1 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-1;
}
.lst-kix_2y0bwxljfd6m-7 > li {
  counter-increment: lst-ctn-kix_2y0bwxljfd6m-7;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c3 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c4 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500022727272727;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c6 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500022727272727;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c16 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c11 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c14 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500022727272727;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c13 {
  background-color: #ffffff;
  padding: 72pt 72pt 72pt 72pt;
}
.c8 {
  margin-left: 36pt;
  height: 11pt;
}
.c2 {
  padding: 0;
  margin: 0;
}
.c7 {
  margin-left: 72pt;
  height: 11pt;
}
.c12 {
  margin-left: 108pt;
  padding-left: 0pt;
}
.c10 {
  color: #ff0000;
}
.c17 {
  background-color: #ffffff;
}
.c19 {
  padding-left: 0pt;
}
.c9 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  padding-bottom: 3pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  padding-bottom: 16pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-family: 'Arial';
}
p {
  margin: 0;
  color: #000000;
}
h1 {
  padding-top: 20pt;
  color: #000000;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
